* {
    border-collapse: collapse;
}

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Arial;
    margin: 0;
    background-color: #292929;
    color: #bebebe;
    font-size: 0.9vw;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: grid;
    grid-template-columns:  250px calc(100% - 250px);
    grid-template-rows: 75px calc(100% - 75px);
    justify-content: space-between;
    grid-template-areas: 
    "page-header page-header"
    "page-content page-content";
    overflow: hidden;
}

@media screen and (min-width:1000px) { /*PC*/

}

@media screen and (max-width:999px) { /*Mobile*/

}


@media screen and (max-width:450) { /*Smallest Possible Size 360*/
    /*
    * TODO: make header (burger, title text, icon) dynamically resize
    * when this width is reached, text will wrap around at this point
    */
}



  





#page-content {
    grid-area: page-content;
    border-radius: 6px;
    border: 1px solid #bebebe;
    transition: margin-left .5s;
    z-index: +1;
}

#page-content iframe {
    border-radius: 6px;
}

iframe {
    overflow: auto;
    overscroll-behavior: none;
}

#page-header {
    /*border: solid black 1px;*/
    grid-area: page-header;
    display: grid;
    grid-template-columns: 80px calc(100% - 160px) 80px;
    grid-template-rows: 100%;
    grid-template-areas: 
    "burger-button title icon";
    border-bottom: 1px solid #212121;
}

#burger-area {
    grid-area: burger-button;
    background-color: #222222;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}

.full-burger {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.full-burger.active {
    transform: rotate(45deg);
}

.burger-part {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#bebebe;
    stroke-width:5.5;
    stroke-linecap:round;
}

.full-burger #burger-top {
    stroke-dasharray: 40 160;
}

.full-burger #burger-middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}

.full-burger #burger-bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}

.full-burger.active #burger-top {
    stroke-dashoffset: -64px;
}

.full-burger.active #burger-middle {
    transform: rotate(90deg);
}

.full-burger.active #burger-bottom {
    stroke-dashoffset: -64px;
    stroke-dashoffset: -64px;
}

#icon {
    grid-area: icon;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: solid black 1px;*/
    background-color: #222222;
    width: 100%;
    height: 100%;
}

#icon img:hover {
    transition: 0.3s;
    background-color: #303030;
}

#icon img {
    height: calc(100% - 5px);
    /*border: solid black 1px;*/
    border-radius: 6px;
    cursor: pointer;
    height: 68px;
    width: 60px;
}

nav {
    /*border: solid black 1px;*/
    grid-area: page-content;
    background-color: #292929;
    transition: 0.5s;
    overflow: hidden;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 50px;
    margin-top: 15px;
    border-radius: 6px;
    cursor: pointer;
}

nav ul li:hover {
    transition: 0.5s;
    transform: translateY(-5px);
}

nav ul li span {
    overflow: hidden;
    font-size: 20px;
    transition: 0.3s;
    position: absolute;
}

#title {
    grid-area: title;
    background-color: #222222;
    display: grid;
    height: 100%;
    /*border: dashed red 1px;*/
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: fit-content fit-content;
    grid-template-areas:
    "title-head"
    "title-page";
}

#title * {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#title-head {
    grid-area: title-head;
    /*border: dashed green 1px;*/
    align-items: end;
    font-size: 30px;
}

#title-page {
    grid-area: title-page;
    /*border: dashed blue 1px;*/
    align-items: start;
    color: #f08d49;
    font-size: 35px;
}