*::selection {
    background-color: #3b3b3b;
    caret-color: black;
}

* {
    border-collapse: collapse;
    scrollbar-width: thin;
}

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    position: absolute;
}

body {
    font-family: Arial;
    margin: 0;
    background-color: #292929;
    color: #bebebe;
    font-size: 0.9vw;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

div {
    position: absolute;
    overflow: hidden;
}

@media screen and (min-width:600px) {  /*PC*/
    #title-head { font-size: 30px; }
    #title-page { font-size: 35px; }
}

@media screen and (max-width:600px) { /*Mobile*/
    #title-head { font-size: calc(0.85 * 5vw); }
    #title-page { font-size: 5vw; }
}

#nav {
    text-align: center;
    top: 75px;
    left: 0px;
    background-color: #29292900;
    width: 500px;
    height: calc(100vh - 75px);
    transition: 0.5s;
    font-size: 20px;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#nav ul li:not(.summary-page)  {
    height: 50px;
    cursor: pointer;
    transition: 0.5s;
    align-content: center;
    display: grid;
}

#nav ul li:hover:not(.summary-page) {
    transform: translateY(-3px);
}

.summary-page {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    bottom: 5px;
    border-top: 2px solid white;
    height: 50px;
    transition: 0.5s;
    align-content: center;
    display: grid;
}

.summary-page span {
    transition: 0.5s;
    cursor: pointer;
}

.summary-page:hover span{
    transform: translateY(-3px);
}

#categories {
    top: 0px;
    width: 250px;
    height: 100%;
}

.nav-header {
    cursor: pointer;
}

.page {
    top: 0px;
    width: 250px;
    left: 250px;
    height: 100%;
    display: none;
}

#page-content {
    left: 2px;
    width: calc(100vw - 4px);
    top: 75px;
    height: calc(100vh - 75px);
    border-radius: 6px;
    transition: .5s;
}

#page-content iframe { 
    overflow: auto; 
    overscroll-behavior: none; /* IN CASE OF ERROR REMOVE */
    background-color: #292929;
}

#bash-shell-button {
    height: 45px;
    width: 220px;
    background-color: #38383d;
    transition: 0.3s;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 5px 17px 6px rgba(0,0,0,0.38);
    left: calc((100vw / 2) - (220px / 2)); 
    top: 70px;
}

#bash-shell-button:hover {
    top: 75px !important; /* uses important because of JS overwrite */
}

#bash-shell-button:hover button{
    font-size: 20px;
}

#bash-shell-button button {
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 0;
    color: #bebebe;
    text-align: center;
    display: auto;
}

body:has(#page-content:hover) #bash-shell-button button {
    font-size: 20px;
}

#header {
    background-color: #222222;
    height: 75px;
    width: 100vw;
    box-shadow: 0px 5px 17px 6px rgba(0,0,0,0.38);
}

#nav-button {
    background-color: #222222;
    width: 75px;
    height: 75px;
    border-radius: 6px;
    cursor: pointer;
}

#nav-button:hover {
    transition: 0.3s;
    background-color: #303030;
}

#full-burger {
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 75px;
}

#full-burger.active {
    transform: rotate(45deg);
}

.burger-part {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#bebebe;
    stroke-width:5.5;
    stroke-linecap:round;
}

#full-burger #burger-top {
    stroke-dasharray: 40 160;
}

#full-burger #burger-middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}

#full-burger #burger-bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}

#full-burger.active #burger-top {
    stroke-dashoffset: -64px;
}

#full-burger.active #burger-middle {
    transform: rotate(90deg);
}

#full-burger.active #burger-bottom {
    stroke-dashoffset: -64px;
}

#title {
    width: calc(100vw - 75px - 75px);
    height: 75px;
    left: 75px;
    text-align: center;
}

#title-head {
    top: 5px;
    height: 35px;
    width: 100%;
}

#title-page {
    top:  30px;
    height:  40px;
    width: 100%;
    color: #f08d49;
}

#home-button {
    background-color: #222222;
    width: 75px;
    height: 75px;
    left: calc(100vw - 75px);
    border-radius: 6px;
    cursor: pointer;
}

#home-button:hover {
    transition: 0.3s;
    background-color: #303030;
}

#home-button img {
    display: flex;
    position: absolute;
    top: 5px;
    left: calc((75px - 56.4px) / 2);
    height: 65px;
}

#content-border {
    width: calc(100vw - 4px);
    left: 2px;
    top: 75px;
    height: calc(100vh - 75px - 2px);
    border-radius: 6px;
    transition: .5s;
    border: 1px solid #bebebe;
    pointer-events: none;
    box-shadow: -16px 0px 17px 1px rgba(0,0,0,0.38);
}