*::selection {
    background-color: white;
    color: black;
    caret-color: red;
}

html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 85% 15%;
    grid-template-areas:
    "none outputs"
    "userXmaschine inputline";
    font-family: monospace;
    background-color: #222;
    color: #bebebe;
    height: 100%;
    background-color: black;
}

#eingabe {
    grid-area: inputline;
    left: 0;
    height: 25%;
    align-self: center;
    border: none;
    background-color: transparent;
    color: #bebebe;
}

#eingabe:not(:focus):hover{
    animation-name: blinken;
    animation-duration: 1s;
    /*animation-timing-function: steps(1, start);*/
    animation-iteration-count: infinite;
}

#eingabe:focus {
    outline: none;
}


#maschname {
    grid-area: userXmaschine;
    height: 25%;
    align-self: center;
    justify-self: right;
    margin-right: 8px;
}

#maschname:hover ~ #eingabe:not(:focus){
    animation-name: blinken;
    animation-duration: 1s;
    /*animation-timing-function: steps(1, start);*/
    animation-iteration-count: 1;
}

@keyframes blinken {
    0% {
        background-color: black;
        color: #bebebe;
    }
    50% {
        background-color: white;
        color: black;
    }
    100% {
        background-color: black;
        color: #bebebe;
    }
}