*::selection {
    background-color: white;
    color: black;
    caret-color: black;
}

html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: calc(100% - 50px) 50px;
    grid-template-areas:
    "outputs"
    "hid";
    font-family: monospace;
    background-color: #222;
    color: #bebebe;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

#hid {
    background-color: #292929;
    outline: #2d2d2d;
    border: #3c3c3c solid 2px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 25000px;
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
    grid-area: hid;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100%;
    grid-template-areas:
    "userXmaschine inputline";
}

#output {
    grid-area: outputs;
    scrollbar-width: thin;
    overflow-y: auto;
    padding: 5px;
    left: 0;
    font-size: 17px;
    border: none;
    background-color: transparent;
}

#eingabe {
    border-radius: 15px;
    border: none;
    grid-area: inputline;
    left: 0;
    font-size: 17px;
    align-self: center;
    background-color: transparent;
    color: #bebebe;
}

#eingabe:not(:focus):hover{
    animation-name: blinken;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#eingabe:focus {
    outline: none;
}


#maschname {
    grid-area: userXmaschine;
    align-self: center;
    justify-self: right;
    margin-right: 8px;
    font-size: 17px;
    color: #7ec699;
}

#maschname:hover ~ #eingabe:not(:focus){
    animation-name: blinken;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blinken {
    0% {
        background-color: #292929;
        color: #bebebe;
    }
    50% {
        background-color: #3c3c3c;
        color: black;
    }
    100% {
        background-color: #292929;
        color: #bebebe;
    }
}